main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /*Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.hero-container {
  width: 100%;
  background-color: violet;
  /* position: absolute; */

  /* In relation to ITSELF */
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.hero-container-inner {
  width: 50%;
  background-color: blue;
}

.hero-img {
  width: 100%;
}

.hero-text {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.hero-span {
  color: #1c7ed6;
}
